.Subject .description {
  line-height: 1.7;
  font-size: var(--small-font);
  margin-bottom: 2em;
}

.Subject .description span {
  color: var(--blue);
  font-weight: 700;
}

.Subject .table {
  width: 80%;
  margin: 0 auto;
  /* background: green; */
}

.Subject .top {
  width: 80%;
  margin: 0 auto;
}

.Subject .table .row,
.Subject .table .top-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.3em;
}

.Subject .table .top-row {
  background: var(--purple);
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.7em;
}

.Subject .table .top-row {
  height: 4em;
  align-items: center;
}

.Subject .table .row {
  height: 3em;
  align-items: center;
  color: #000;
}

.Subject .table .row.last {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.Subject .table .row .icon {
  margin-right: 0.6em;
  color: var(--purple);
}

.Subject .table .top-row p {
  font-weight: 700;
  color: #fff;
}

.Subject .table .row p,
.Subject .table .top-row p {
  text-align: center;
  width: 33%;
}

.Subject .table .row p.left,
.Subject .table .top-row p.left {
  text-align: left;
  margin-left: 3em;
}

.Subject .table .row p.right,
.Subject .table .top-row p.right {
  text-align: right;
  margin-right: 3em;
}

.Subject .row {
  background: var(--dark-pink);
  cursor: pointer;
}

.Subject .row.even {
  background: var(--light-pink);
}

.Subject .row:hover {
  background: var(--blue);
  transition: var(--transition-time);
}

.Subject .row:hover > p {
  color: #fff;
}

.Subject .left span {
  color: var(--purple);
  font-weight: 700;
}

.Subject .top span {
  font-size: var(--large-font);
  color: var(--blue);
}
