.Lessons .description {
  line-height: 1.7;
  font-size: var(--small-font);
  margin-bottom: 2em;
}

.Lessons .description span {
  color: var(--blue);
  font-weight: 700;
}

.Lessons .table {
  width: 80%;
  margin: 0 auto;
  /* background: green; */
}

.Lessons .top {
  width: 80%;
  margin: 0 auto;
}

.Lessons .table .row,
.Lessons .table .top-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.3em;
  padding-left: 0;
}

.Lessons .table .top-row {
  background: var(--purple);
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0.7em;
  padding-left: 0;
}

.Lessons .table .top-row {
  height: 4em;
  align-items: center;
}

.Lessons .table .row {
  height: 3em;
  align-items: center;
  color: #000;
}

.Lessons .table .row.last {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.Lessons .table .row .icon {
  margin-right: 0.6em;
  color: var(--purple);
}

.Lessons .table .top-row p {
  font-weight: 700;
  color: #fff;
}

.Lessons .table .row p,
.Lessons .table .top-row p {
  /* text-align: center; */
  width: 100%;
  margin-left: 3em;
}

/* .Lessons .table .row p.right,
.Lessons .table .top-row p.right {
  text-align: right;
  margin-right: 3em;
} */

.Lessons .row {
  background: var(--dark-pink);
  cursor: pointer;
}

.Lessons .row.even {
  background: var(--light-pink);
}

.Lessons .row:hover {
  background: var(--blue);
  transition: var(--transition-time);
}

.Lessons .row:hover > p {
  color: #fff;
}

.Lessons .left span {
  color: var(--purple);
  font-weight: 700;
}

.Lessons .top span {
  font-size: var(--large-font);
  color: var(--blue);
}
