* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  overflow-y: hidden;
  overflow-x: hidden;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 83%;
  padding: 4em 3em 4em 3em;
  overflow: auto;
  height: 100vh;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: var(--xl-font);
}

h2 {
  font-size: var(--large-font);
  /* color: var(--dark-purple); */
  margin-bottom: 1em;
}

span {
  font-size: var(--small-font);
}

:root {
  --purple: #706fd3;
  --dark-purple: #40407a;
  --blue: #34ace0;
  --light-pink: #f3edfa;
  --dark-pink: #f7f4fa;
  --red: rgb(184, 44, 44);

  --small-font: 17px;
  --medium-font: 20px;
  --large-font: 26px;
  --xl-font: 28px;

  --transition-time: 0.23s;
}
